.container {
  width: 70%;
  margin: 0 auto;
  padding-top: 40px;
  font-size: 21px;
  line-height: 40px;
}
.container .model1 .status li {
  float: left;
  position: relative;
  width: 28%;
  padding-left: 5%;
}
.container .model1 .status li:before {
  content: '';
  border: 1px solid black;
  width: 18px;
  height: 18px;
  background: white;
  position: absolute;
  top: 9px;
  left: 13px;
}
.container .model1 .status li:after {
  content: '√';
  width: 18px;
  height: 18px;
  position: absolute;
  top: 2px;
  left: 13px;
  font-size: 30px;
  display: none;
}
.container .model1 .status li .click {
  position: absolute;
  top: 2px;
  left: 13px;
  font-size: 30px;
  display: none;
}
.container .model1 .status .explation {
  clear: both;
}
.container .model2 {
  padding-top: 20px;
  width: 100%;
}
.container .model2 table {
  padding-top: 20px;
  width: 100%;
  mso-cellspacing: 0;
  border-bottom: 1px solid black;
}
.container .model2 table td {
  width: 24%;
  border-top: 1px solid black;
  padding-left: 1%;
  border-left: 1px solid black;
}
.container .model2 table td:last-child {
  border-right: 1px solid black;
}
.container .model2 table tr:nth-of-type(1) {
  background: #99CCFF;
  font-size: 22px;
}
.container .model3 {
  padding-top: 20px;
}
.index {
  width: 30%;
  height: 200px;
  border: 1px solid black;
  margin: 0 auto;
  padding-top: 20px;
}
.index form {
  margin-left: 100px;
}
.index input[type='submit'] {
  margin-top: 30px;
  background: black;
  color: white;
  font-size: 20px;
  text-align: center;
  border-radius: 10%;
  height: 35px;
}
.list {
  width: 60%;
  margin: 0 auto;
  padding-top: 50px;
}
.list .project-list li {
  float: left;
  width: 20%;
  height: 35px;
  line-height: 35px;
}
.list .project-list li a {
  display: block;
  height: 30px;
  width: 80%;
  text-align: center;
  line-height: 30px;
  background: black;
  color: white;
}
