.container {
  width: 70%;margin: 0 auto;padding-top: 40px;
  font-size: 21px;line-height: 40px;
 .model1 {
   .status {
     li{
       float: left;position: relative;
       width: 28%;  padding-left: 5%;
       &:before {
         content: '';border: 1px solid black;
         width: 18px; height: 18px;background: white;
         position: absolute;top: 9px;left: 13px;
       }
       &:after {
         content: '√';
         width: 18px; height: 18px;
         position: absolute;top: 2px;left: 13px;
         font-size: 30px;
         display: none;
       }
       .click{
         position: absolute;top: 2px;left: 13px;
         font-size: 30px;display: none;

       }
     }
     .explation{
       clear: both;
     }
   }
 }
  .model2{
    padding-top: 20px;width: 100%;
    table{
      padding-top: 20px;
      width: 100%;mso-cellspacing: 0;border-bottom: 1px solid black;
      td{
        width: 24%; border-top: 1px solid black;
        padding-left: 1%;
        border-left: 1px solid black;
        &:last-child{
          border-right: 1px solid black;
        }
      }
      tr{
        &:nth-of-type(1){
          background: #99CCFF;
          font-size: 22px;
        }

      }
    }
  }
  .model3{
    padding-top: 20px;
  }
}
.index{

  width: 30%;height: 200px;border: 1px solid black;
  margin: 0 auto;  padding-top: 20px;
  form{
    margin-left: 100px;
  }
  input[type='submit']{
    margin-top: 30px;
    background: black;color: white;
    font-size: 20px;text-align: center;
    border-radius: 10%;height: 35px;
  }
}
.list{
  width: 60%;margin: 0 auto;padding-top: 50px;
  .project-list{
    li{
      float: left;width: 20%;height: 35px;line-height: 35px;

      a{
        display: block;height: 30px;width: 80%;
        text-align: center;line-height: 30px;
        background: black;color: white;
      }
    }
  }
}